<mbm>
  <entry id="0">
    <source>難易度を≪{f872}{0100}≫から≪{f872}{0200}≫に変更します{f801}よろしいですか?{f801}{ffff}</source>
    <target>難易度を≪{f872}{0100}≫から≪{f872}{0200}≫に変更します{f801}よろしいですか?{f801}{ffff}</target>
  </entry>
  <entry id="1">
    <source>はい{f801}いいえ{f801}{ffff}</source>
    <target>はい{f801}いいえ{f801}{ffff}</target>
  </entry>
  <entry id="2">
    <source>ゲームの難易度を設定してください{f801}※物語やクエスト報酬などは変わりません{f801}{ffff}</source>
    <target>ゲームの難易度を設定してください{f801}※物語やクエスト報酬などは変わりません{f801}{ffff}</target>
  </entry>
  <entry id="3">
    <source>この音量に設定します{f801}よろしいですか?{f801}{ffff}</source>
    <target>この音量に設定します{f801}よろしいですか?{f801}{ffff}</target>
  </entry>
  <entry id="4">
    <source>難易度を≪{f872}{0100}≫に変更しました{f801}{ffff}</source>
    <target>難易度を≪{f872}{0100}≫に変更しました{f801}{ffff}</target>
  </entry>
  <entry id="10">
    <source>この難易度で開始しますか?{f801}{ffff}</source>
    <target>この難易度で開始しますか?{f801}{ffff}</target>
  </entry>
  <entry id="11">
    <source>それでは 神や悪魔に翻弄され{f801}道を見失わぬよう お気を付けください…{f801}{ffff}</source>
    <target>それでは 神や悪魔に翻弄され{f801}道を見失わぬよう お気を付けください…{f801}{ffff}</target>
  </entry>
  <entry id="12">
    <source>難易度は ゲーム開始後も{f801}途中で変更が可能です{f801}{ffff}</source>
    <target>難易度は ゲーム開始後も{f801}途中で変更が可能です{f801}{ffff}</target>
  </entry>
  <entry id="13">
    <source>育成・合体・バトルなどが苦手な方でも{f801}物語を進行させることが可能な難易度です{f801}{f802}難易度は メニューが開ける状況であれば{f801}いつでも自由に変更が可能です{f801}{ffff}</source>
    <target>育成・合体・バトルなどが苦手な方でも{f801}物語を進行させることが可能な難易度です{f801}{f802}難易度は メニューが開ける状況であれば{f801}いつでも自由に変更が可能です{f801}{ffff}</target>
  </entry>
  <entry id="14">
    <source>シリーズ作をプレイしたことのない方にも{f801}楽しんでいただける難易度です{f801}{f802}難易度は メニューが開ける状況であれば{f801}いつでも自由に変更が可能です{f801}{ffff}</source>
    <target>シリーズ作をプレイしたことのない方にも{f801}楽しんでいただける難易度です{f801}{f802}難易度は メニューが開ける状況であれば{f801}いつでも自由に変更が可能です{f801}{ffff}</target>
  </entry>
  <entry id="15">
    <source>今作独自の緊張感を楽しんでいただける{f801}適度な歯応えとスリルを持った難易度です{f801}{f802}難易度は メニューが開ける状況であれば{f801}いつでも自由に変更が可能です{f801}{ffff}</source>
    <target>今作独自の緊張感を楽しんでいただける{f801}適度な歯応えとスリルを持った難易度です{f801}{f802}難易度は メニューが開ける状況であれば{f801}いつでも自由に変更が可能です{f801}{ffff}</target>
  </entry>
  <entry id="16">
    <source>普通の難易度では物足りない方が{f801}より強い緊張感を味わうための難易度です{f801}{f802}難易度は メニューが開ける状況であれば{f801}いつでも自由に変更が可能です{f801}{ffff}</source>
    <target>普通の難易度では物足りない方が{f801}より強い緊張感を味わうための難易度です{f801}{f802}難易度は メニューが開ける状況であれば{f801}いつでも自由に変更が可能です{f801}{ffff}</target>
  </entry>
  <entry id="17">
    <source>死のスリルを追求したい方のための{f801}「理論上はクリア可能」な最高難易度です{f801}{f802}戦闘の難易度が非常に高く{f801}一手のミスが死を招きます{f801}{f802}この難易度では主人公のHPが0になると{f801}ゲームオーバーとなります{f801}{f802}また ゲーム中に難易度を変更することが{f801}できなくなりますので ご注意ください{f801}{ffff}</source>
    <target>死のスリルを追求したい方のための{f801}「理論上はクリア可能」な最高難易度です{f801}{f802}戦闘の難易度が非常に高く{f801}一手のミスが死を招きます{f801}{f802}この難易度では主人公のHPが0になると{f801}ゲームオーバーとなります{f801}{f802}また ゲーム中に難易度を変更することが{f801}できなくなりますので ご注意ください{f801}{ffff}</target>
  </entry>
  <entry id="20">
    <source>現在の難易度では変更できません{f801}{ffff}</source>
    <target>現在の難易度では変更できません{f801}{ffff}</target>
  </entry>
  <entry id="21">
    <source>一度この難易度を選択すると{f801}途中で難易度を変更することができません{f801}{f802}難易度を変更しても{f801}よろしいですか?{f801}{ffff}</source>
    <target>一度この難易度を選択すると{f801}途中で難易度を変更することができません{f801}{f802}難易度を変更しても{f801}よろしいですか?{f801}{ffff}</target>
  </entry>
  <entry id="30">
    <source>現在は難易度の変更ができません{f801}{ffff}</source>
    <target>現在は難易度の変更ができません{f801}{ffff}</target>
  </entry>
</mbm>